{% extends "base.html" %} {% block title %} Data Visualizations {% endblock %} {% block
    content %} {% block content %}
    <h1>
      <p>Data Visualizations</p>
    </h1>
    <br />
    
    <p>
      <strong>Instructions</strong>: Below are some various charts and graphs depicting chemical compounds
      of autistic and non-autistic patients. Select from drop down menus to explore and 
      experiment with the data to gain insights:
      
    </p>
    
    <p><i>
      Disclaimer: This project is for educational purposes only. Consult
      with a health care professional.
    </p></i>
    {% endblock %}