{% extends "base.html" %} {% block title %} Home Page {% endblock %} {% block
content %} {% block content %}
<h1>
  <p>Welcome to our data science with autism project!</p>
</h1>
<br />

<p>
  <strong>Instructions</strong>: You are on the home page! On the menu bar
  above, select from four options:
  <li>
    Data visualizations: Discover insights of biochemical compound
    concentrations between autistic and non-autistic patients using various
    graphs and charts.
  </li>
  <li>
    Find a Journal Article: Find a journal article that fits your interests.
  </li>
  <li>
    Do I Have Autism: From Questionnaire: Uses machine learning to predict the
    percent likelihood you have autism after you answer some questions.
  </li>
  <li>
    Do I Have Autism: From Image: Uses machine learning to predict the percent
    likelihood a child has autism after uploading an image of a child's face.
  </li>
</p>

<p><i>
  Disclaimer: This project is for educational purposes only. Consult
  with a health care professional.
</p></i>
{% endblock %}
