{% extends "base.html" %} {% block title %} Do I Have Autism: From Image {% endblock %} {% block
    content %} {% block content %}
    <h1>
      <p>Do I Have Autism: From Image</p>
    </h1>
    <br />
    
    <p>
      <strong>Instructions</strong>: Upload an image from your computer of an image of a child's face.
      <strong>Note:</strong> The composition of the image must be similar to this reference image below:
      
    </p>
    
    <p><i>
      Disclaimer: This project is for educational purposes only. Consult
      with a health care professional.
    </p></i>
    {% endblock %}