{% extends "base.html" %} {% block title %} Do I Have Autism: From Questionnaire {% endblock %} {% block
    content %} {% block content %}
    <h1>
      <p>Do I Have Autism: From Questionnaire</p>
    </h1>
    <br />
    
    <p>
      <strong>Instructions</strong>: Answer the following questions, and the algorithm will forecast
      the percent likelhihood you have autism:
      
    </p>
    
    <p><i>
      Disclaimer: This project is for educational purposes only. Consult
      with a health care professional.
    </p></i>
    {% endblock %}